<footer class="footer mt-auto py-3 bg-light flex-grow">
  <div class="container flex items-center justify-center">
    <span class="text-muted">
      <span data-controller="copyright">
      </span>
      Discova Blog. All Right Reserved.
    </span>
  </div>
</footer>
