<% if user_signed_in? %>
<li class="nav-item dropdown">
    <a class="nav-link relative" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <button type="button" class="rounded-full absolute bottom-0 bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
        </button>
       <span class="absolute bottom-0  translate-middle badge rounded-pill bg-danger">
            <%= @unread.count >= 9 ? "9+ " : @unread.count %><i class="fas fa-bell"></i>
        </span>
        
    </a>
    <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
        <% @unread.each do |notification| %>
        <li class="dropdown-item">
            <%= link_to notification.to_notification.message, notification.to_notification.url, class:"dropdown-item" %>
        </li>
        <% end %>
        <% if @read.count >0 && @unread.count >0 %>
        <li>
            <hr class="dropdown-divider">
        </li>
        <% elsif @read.count + @unread.count ==0 %>
        <li class="dropdown-item">No notifications</li>
        <%end%>
        <% @read.each do |notification| %>
        <li class="dropdown-item">
            <%= link_to notification.to_notification.message, notification.to_notification.url, class:"dropdown-item" %>
        </li>
        <% end %>
    </ul>
</li>
<% end %>


