<div class="wrap container" role="document">
  <div class="content">
    <div class="row justify-content-center">
    <div class="mx-auto max-w-7xl py-4 sm:px-6 sm:py-8 lg:px-8" >
      <%= render "shared/about" %>
    </div>
      <div class="col-md-12 col-lg-10">
        <article>
          <div class="page-header">
            <h1>About</h1>
          </div>
          <h2 id="update-feb-2023-i-m-available-for-hire">Update Feb, 2023 : I'm available for hire</h2>
<p>You can drop me a line via email : bdavidxyz at gmail.com</p>
<br>
<p>Hello world,</p>
<p>I’m a Ruby-on-Rails developer based in France, with 15 years of experience.</p>
<p><strong>Back-end developer</strong> I graduated with a master in computer sciences, and held various positions as developer, tester, quality leader, project leader, mentor, always keeping hands on code.</p>
<p><strong>Front-end developer</strong> Then I spent some years in the Front-end space, when things started to be well-structured thanks to Angular, then Ember and React.</p>
<p><strong>Now full-stack developer</strong> For more than 5 years now, I've been coding all layers, preferably with Rails, but I'm open to other stacks.</p>
<p>Some things I look for in the things I work on are:</p>
<p>• Bring maximum value to the end user<br>
• Maximise empathy and mutual understanding<br>
• Robustness and stability<br>
• Have great design and user experience<br>
• Minimize efforts by automating everything I can</p>
<p>I’m passionate about quality. It includes the quality of the relationships between team members.</p>
<p>To increase my knowledge, I used to go to conferences, I now follow them on YouTube. I like to open and read code from others, picking clever tricks wherever possible.</p>
<p>I'm writing 2 tech blogs : one about me, another to help junior Ruby-on-Rails developers to increase their skills.</p>
<p>Apart from work, I like to be outside, no matter if it's gardening or running.</p>
<p>Best,</p>
<p>David</p>
<h2 id="about-bootrails">About Bootrails</h2>
<p>2023 update : Bootrails was a Ruby-on-Rails starter kit. Nowadays it's a website for newbies who want to learn Rails. It includes new features, but also older ones. I always start my tutorials "from scratch". It means that even if you don't know (or very few) about Rails, you will learn something, and increase your know-how about Rails.</p>
<h2 id="how-to-contact-me">How to contact me</h2>
<p>For any enquiries, don't hesitate to drop me an e-mail, I will take time to answer emails one by one :)</p>
<p>Send me your message at :</p>
<p>bdavidxyz at gmail.com</p>

        </article>
      </div>
    </div>
  </div>
</div>

<div class="container m-6">
  <%= render "shared/contact_form"%>
</div>
