<div class='container'>
    <!--Main layout-->
  <main class="my-5">
   <section>
  <div class="px-4 pt-4 my-5 text-center">
    <h1 class="fw-bold">Start Writing Amazing Blog Articles</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Get unlimited access to all of Discova for Free.<strong><%= link_to "Start Writing", new_user_registration_path, class: "nav-link"  %></strong>
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-2" style="justify-content: center;">
        
        <%= link_to "View the blog", posts_path, class:"btn btn-primary btn-lg px-4 me-sm-3 text-white", style:"width: 200px" %>
        <a class="btn btn-outline-primary btn-lg px-4 me-sm-3" href="/about" style="width: 200px">Hire me</a>
      </div>
    </div>
  </div>
  </section>

    
  </main>
  <!--Main layout-->
  

    
</div>
