<div class= "container">
<p style="color: green"><%= notice %></p>

<h1>See All Posts</h1>

<div class='' id="posts">
  <% @posts.each do |post| %>
    <div class="card w-25 my-5">
      <%= render post %>
      <p>
        <%= link_to "Show this post", post, class:"btn btn-secondary mx-4"  %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New post", new_post_path, class:"btn btn-primary w-20" %>
</div>

