<div class= "container">
<p style="color: green"><%= notice %></p>
 <section class="text-center">
        <h4 class="mb-5"><strong>Latest posts</strong></h4>

  <div class=''id="posts">
    <% @posts.each do |post| %>
      <div class="card w-25 my-5">
      <div class="col">
        <%= render post %>
      </div>
      </div>
    <% end %>
  </div>
</section>
</div>