<div class="container">
  <h1 class="my-5">Search Results</h1>

  <% if @posts.any? %>
    <ul class="list-group">
      <% @posts.each do |post| %>
        <%= render "post"  %>
      <% end %>
    </ul>
  <% else %>
    <p>No results found for your search query.</p>
  <% end %>
</div>